@font-face {
    font-family:"hPixelFont" ;
    src: url("./fonts/04B_30__.TTF");
}
@font-face {
    font-family: "PixelFont";
    src: url("./fonts/Minecraft.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "PixelFont";
    background-color: #322b38;
}
.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px 20px;

    background-image: url("./imgs/header_bg.png");
    background-size: 101% 101%;
    background-position: center;
}
.header-icon { 
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90%;
    max-width: 60px;
    height: auto;
}
h1 {
    margin: 0;
    color: white;;
    font-size: clamp(16px, 4.5vw, 32px);
    font-family: "hPixelFont";
}
h2 {
    padding-top: 10px;
    padding-right: clamp(30px, 1vw, 60px);
    margin: 0;
    color: white;;
    font-size: 1rem;
    font-family: "PixelFont";
}
.h-button{
    display: flex;
    outline:none;
    border: none;  
    
    margin-left: 20rem;
    top: 20px;
    right: 50px;
    width: 10rem;
    height: 3rem;

    cursor: pointer;
    justify-content: center;
    align-content: center;

    background:transparent;
    background-image: url("./imgs/header_button_normal.png");
    background-size: 100% 100%;
}
.h-button:hover {
    background-image: url("./imgs/header_button_hovered.png");
}
.h-button:active {
    background-image: url("./imgs/header_button_active.png");
}
.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
    color: white;
    text-decoration: underline;
    font-size: 1.2rem;
    font-family: "PixelFont";
}

.nav-links a:hover {
    transform: scale(1.3);
    text-decoration: none;
}

.nav-links a:active {
    color: black;
    transform: scale(1.2);
}